<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FocusFlow</title>
    </head>
    <body class="parentclass">
        <nav class="flex w-full items-center justify-evenly mt-2 mb-5">
            <button title="dashboard" id="dashBoard" class="nav-item">
                <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <path
                        d="M9 18H4V10H9V18ZM7 16V12H6V16H7ZM13 16V8H12V16H13ZM15 18H10V6H15V18ZM19 16V4H18V16H19ZM21 18H16V2H21V18ZM22 22H3V20H22V22Z"
                    ></path>
                </svg>
                Dashboard
            </button>
            <button
                title="blocked sites"
                id="blockedSites"
                disabled
                class="active nav-item flex-1"
            >
                <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <path
                        d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM9.71002 19.6674C8.74743 17.6259 8.15732 15.3742 8.02731 13H4.06189C4.458 16.1765 6.71639 18.7747 9.71002 19.6674ZM10.0307 13C10.1811 15.4388 10.8778 17.7297 12 19.752C13.1222 17.7297 13.8189 15.4388 13.9693 13H10.0307ZM19.9381 13H15.9727C15.8427 15.3742 15.2526 17.6259 14.29 19.6674C17.2836 18.7747 19.542 16.1765 19.9381 13ZM4.06189 11H8.02731C8.15732 8.62577 8.74743 6.37407 9.71002 4.33256C6.71639 5.22533 4.458 7.8235 4.06189 11ZM10.0307 11H13.9693C13.8189 8.56122 13.1222 6.27025 12 4.24799C10.8778 6.27025 10.1811 8.56122 10.0307 11ZM14.29 4.33256C15.2526 6.37407 15.8427 8.62577 15.9727 11H19.9381C19.542 7.8235 17.2836 5.22533 14.29 4.33256Z"
                    ></path>
                </svg>

                Blocked Sites
            </button>
            <a href="help.html" class="nav-item"
                ><svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <path
                        d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"
                    ></path>
                </svg>
                Help
            </a>
        </nav>
        <div class="flex flex-col justify-center items-center my-2 gap-4">
            <section class="w-full border-b-2 border-b-tertiary pb-6 px-2">
                <h2 class="text-left text-black font-medium my-2 text-[16px]">
                    Blocked Websites
                </h2>
                <div class="flex items-center gap-1.5">
                    <input
                        class="w-[70%] py-3 px-2 rounded-sm outline-none border border-tertiary"
                        type="url"
                        id="blockedSiteInput"
                        placeholder="Add a website to block"
                        required
                    />
                    <button
                        class="w-[30%] py-3 px-4 text-center rounded-sm cursor-pointer bg-primary text-white capitalize whitespace-nowrap hover:bg-[#636ae8b3]"
                        id="addSiteBtn"
                    >
                        Add
                    </button>
                </div>
            </section>
            <section
                class="blocked-container w-full max-h-44 overflow-auto px-2"
                id="blockedSiteList"
            ></section>
        </div>
        <script type="module" src="../src/blockedsite/blockedsite.js"></script>
    </body>
</html>
